:root {
    --colorTitulos: #166DB5;
    --colorPrincipal: #4694D5;
    --colorLetras: #F5F5DC;
    --colorResaltado: #D4AF37;
    --colorSombreado: #C20404;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    color: var(--colorLetras);
    display: flex;
    gap: .5%;
    flex-direction: column;
}

header,
footer {
    font-family: "Bree Serif", serif;
}

header,
main,
nav,
footer {
    border: 1px solid black;
    border-radius: 10px;
}

main,
nav,
main div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
footer {
    background-color: var(--colorTitulos);

}

nav,
main {
    background-color: var(--colorPrincipal);
}

header {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 70%;
}

#titulo {
    text-shadow: 4px 4px 1px rgb(0, 0, 0), 5px 5px 1px var(--colorSombreado);
}

#logo,
#imagenDestacada {
    width: 60%;
    height: 100%;
}

#subHead4 a {
    transition: .5s;
}

#subHead4 a:hover {
    color: var(--colorResaltado);
    transition: .5s;
}

nav {
    height: 5%;
}

#subNav1 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: var(--colorLetras);
}

main {
    height: 70%;
    flex-direction: column;

}

main div {
    width: 100%;
    height: 100%;

}

#subMain1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#subMain1 div {
    width: 50%;
    height: 50%;
}

#productos {
    display: flex;
    justify-content: space-evenly;
}

#productos div {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--colorResaltado);
    border-radius: 10px;
}

#productos div img {
    width: 70%;
    height: 70%;
}

.descProducto{
    display: none;
}

table, th, td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: 10px;
}

#empresas {
   
}

#destacado {
    
}

main,
nav {
    font-family: Arial;
}

footer {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-around;

}

#subFoo1 {
    color: var(--colorResaltado);
}

ul {
    list-style: none;
}

img {
    border-radius: 20px;
}