header{
    height: 100px;
    background-color: red;
    position: sticky;
    top: 0;
    display: flex;
}

main{
    height: 600px;
    background-color: green;
}
section{
    height: 400px;
    background-color: blue;
}
footer{
    height: 150px;
    background-color: black;
}